#delani1 {
  font-family: 'Comfortaa';
  font-size: 18px;
  line-height: 3;
}
.welcome {
  background-image: url('../images/backgrounds/h_img.jpg');
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  display: block;
  padding: 10rem;
  width: 100%;

}
.about {
  text-align: center;
  padding: 5rem;
}

.services {
  text-align: center;
  background-image: url('../images/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  color: white;
  font-weight: bold;
}
.whatwedo{
  text-align: center;
  padding: 5rem;
}
.contact {
  background-image: url('../images/backgrounds/c_image.jpg');
  text-align: center;
  color: white;
  padding: 5rem;
}
.footer {
  text-align: center;
  padding: 2rem;
}

#mouse {
  padding-top: 10rem;

}

}
h4 {
  text-align: justify;
}
h1 {
  padding: 2rem;
  line-height: 5;

}

font-family: 'Montserrat', ;
font-family: 'Poppins', ;
font-family: 'Raleway', ;
font-family: 'Mukta', ;
font-family: 'Comfortaa', ;

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#logo {
  padding: 4rem;
}
.col4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90px;
}
}
.social {
  padding: 2rem;
}
.social {
  width: 2rem;
}
#portfolio {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
#designp {
  display: none;
}
#devp {
  display: none;
}#prodp {
  display: none;
}
