h1 {
  text-align: center;
}
.welcome {
  background-image: url('images/backgrounds/h_img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us {
}

.service {
  background-image: url('images/backgrounds/s_image.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.work {

}
.portfolio{

}
.contact{
  background-image: url(images/backgrounds/c_image.jpg);

}
.footer{

}

h6
{text-align: center;}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
  align-items: center;
}

/* Create four equal columns that floats next to each other */
.column {

  width: 25%;
}
p {
  text-align: center;
}
.html55
{
  padding: 1.5rem;
  width: auto;

}
.comments {
  align-items: center;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
